
{% extends "layout.html" %}

{% block content %}
<!-- About Section -->
<div class="container my-5">
    <div class="row">
      <div class="col-md-6">
        <h2 class="display-4 text-primary">About BlogApp</h2>
        <p class="lead">
          BlogApp is a minimalistic social blogging platform designed to help users express their thoughts, share stories, and engage with a vibrant community.
        </p>
      </div>
      <div class="col-md-6">
        <img src="https://m.media-amazon.com/images/M/MV5BMTEwNDQ3MjA1MDleQTJeQWpwZ15BbWU4MDMyNDAzMzUx._V1_QL75_UX820_.jpg" alt="BlogApp" class="img-fluid rounded shadow-sm" />
      </div>
    </div>
  
    <div class="row mt-4">
      <div class="col-md-12">
        <h3 class="text-secondary">Features:</h3>
        <ul class="list-group">
          <li class="list-group-item">Will be added soon</li>
        </ul>
      </div>
    </div>
  
    <div class="row mt-4">
      <div class="col-md-12">
        <h3 class="text-secondary">Developer:</h3>
        <div class="card">
          <div class="card-body">
            <p class="card-text">
              This application was developed by <strong>Pranshu Saini</strong>, a passionate software developer with a love for creating social platforms that bring people together. You can learn more about me by pressing the link button on the navbar.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
{% endblock content %}
